@import "./partials/reset.scss";
@import "./partials/font.scss";
@import "./partials/color.scss";
@import "./partials/bottoni.scss";
@import "./partials/mixins.scss";
@import "./partials/animazioni.scss";
@import "./partials/spaziature.scss";

body {
  font-family: $font-sans;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: green;
  padding-inline: $size-4;
  color: #f4f4f4;

  img {
    max-width: 100%;
    height: $size-5;
  }

  nav {
    ul {
      li {
        display: inline-block;
      }
    }
  }
}

.hero {
  background-color: $bghero-color;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
  gap: 50px;

  .text-area {
    max-width: 800px;
  }

  .img-area {
    img {
      max-width: 400px;
      @include floating(10px, 0 6px 10px rgb(0 0 0 / 10%), 2px solid white);
    }
  }

  h2 {
    color: $text-color;
    font-size: $size-4;
    width: 70%;
    margin: auto;
    padding: $size-2 0;
  }
}

.grid {
  justify-content: center;
  @include gridSection(6);
  img {
    max-width: 100%;
    @include floating(10px, 0 6px 10px rgb(0 0 0 / 10%));
  }
}
