$buttons-color: (
  blue: $blue,
  orange: $orange,
  green: $green,
);
.btn {
  color: white;
  padding: $size-1 $size-3;
  border: none;
  border-radius: 10px;
}

@each $key, $value in $buttons-color {
  .btn-#{$key} {
    background-color: $value;
  }
}
