@import "./color.scss";
$size-0: 0;
$size-1: 0.25rem;
$size-2: 0.5rem;
$size-3: 1rem;
$size-4: 1.5rem;
$size-5: 3rem;

$font-sans: Verdana, Geneva, Tahoma, sans-serif;
$font-serif: Georgia, "Times New Roman", Times, serif;

@mixin title($size-2, $title-color: black) {
  text-align: left;
  padding-top: $size-2;
  font-size: $size-2;
  color: $title-color;
}
#title-big {
  @include title($size-4, $text-color);
}
