$directions: block, inline;
$breakpointsMap: (
  sm: 10px,
  normal: 20px,
  md: 30px,
  lg: 40px,
  xl: 50px,
  xxl: 60px,
);

@each $breakpoint, $value in $breakpointsMap {
  .padding-#{$breakpoint} {
    padding: $value;
  }
  .margin-#{$breakpoint} {
    padding: $value;
  }

  @each $direction in $directions {
    .padding-#{$direction}-#{$breakpoint} {
      padding-#{$direction}: $value;
    }
  }
}
